:root{
--primary-color: #5EB9F0;
--heading-color: #343F52;
--text-color: #60697B;
--skyblue: #e5f4fd;
--white: #ffffff;
--gray: #F0F8FE;
}

body{
    font-family: "Urbanist", sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn-primary{
    background-color: var(--primary-color);
    padding: 16px 20px;
    color: var(--white);
    border-radius: 24px 24px;
    display: block;
    width: fit-content;
    text-decoration: none;
    box-shadow: 1px .1rem .5rem 0px rgb(60 60 60/39%);
}

h1{
    color: var(--heading-color);
    font-size: 54px;
    line-height: 62px;

    & span{
      color: var(--primary-color);  
    }
}

h2{
    font-size: 42px;
    color: var(--heading-color);
    line-height: 50px;
}

h3{
    font-size: 23px;
    color: var(--heading-color);
    line-height: 32px;
}

main{
   max-width: 1280px; 
   margin: 0 auto;
}

p{
    font-size: 17px;
    color: var(--text-color);
    line-height: 29px;
}

nav{
  display: flex;  
  justify-content: space-between;
  padding: 20px 0;
}

ul{
    list-style: none;
    display: flex;
    gap: 40px;

    & li a{
        text-decoration: none;
        color: var(--heading-color);
        font-weight: 600;
    }
    & a:hover{
       color: none; 
    }
}

/*Services Styles*/

.services-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.services{
    background: var(--gray);
    padding: 50px 0;
    & h2{
        margin-bottom: 75px;
        max-width: 660px;
        margin: 0 auto 75px;
        text-align: center;
    }
}

.service-item{

    text-align: center;
    
    & h3{
     margin-bottom: 15px;   
    }
   & a{
    color: var(--primary-color);
    text-decoration: underline;
   }

   & img{
    min-height: 230px;
   }

   & p{
    max-width: 316px;
    margin: 0 auto;
    margin-bottom: 20px;
   }
}

/*Testimonials Styles*/

.testimonials{    
    background-color: var(--gray);
    padding: 70px 0;

    & h2{
       text-align: center; 
       max-width: 680px;
       margin: 0 auto;
       margin-bottom: 50px;
    }
}

.testimonials-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.testimonials-item{
    background-color: var(--white);
    padding: 20px;
    & p{
      font-size: 18px;  
    }
}

.author{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 30px;

    & img{
        max-width: 70px;
    }
}

/*Hero Styles*/

.hero{
   display: flex; 
   align-items: center;
   gap: 30px;
   padding: 60px;

   & h1{
    max-width: 405px;
    margin-bottom: 20px;
   }

   & p{
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 30px;
}
}